@import '../../../../assets/styles/variables.scss';

.main-div {
  margin-top: 10px;

  .sort {
    margin: 0 4% 0 0;

    .sort-button {
      border-bottom: 2px solid gray;

      .sort-by {
        color:  $highLightColor;
        margin: 0px 5px;
      }
    }
  }

  .cart-area {
    width: 300px;
    max-height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
  }

}

.nothingToShow {
  text-align: center;
  margin-top: 200px;
}
