<div class="main-div">
  <mat-toolbar fxLayout="row">
    <h1 routerLink="/">SHOP</h1>

    <button
      *ngIf="isUserLoggedIn"
      mat-button
      [routerLink]="'/' + availableRoutes.AllProducts"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active-route"
      fxHide.lt-sm
      [ngStyle.gt-xs]="{'margin-left.px': 20}"
    >
      all-products
    </button>

    <span fxFlex="1 1 auto"></span>

    <ng-container *ngIf="isUserLoggedIn else toSignUp">
      <button mat-icon-button [ngStyle.gt-xs]="{'margin-right.px': 20}">
        <mat-icon
          [matBadge]="totalCartItem"
          matBadgeColor="warn"
          [routerLink]="'/' + availableRoutes.Cart"
        >
          add_shopping_cart
        </mat-icon>
      </button>

      <button mat-icon-button [ngStyle.gt-xs]="{'margin-right.px': 20}" (click)="logoutUser()">
        Logout
      </button>
    </ng-container>

    <button class="nav-dropdown" mat-button fxHide.gt-xs [matMenuTriggerFor]="navDropDown">
      <mat-icon>view_headline</mat-icon>
    </button>
  </mat-toolbar>

  <mat-progress-bar mode="indeterminate" *ngIf="isDataLoading | async"></mat-progress-bar>
</div>

<mat-menu #navDropDown="matMenu">
  <ng-template matMenuContent>
    <button
      mat-menu-item
      [routerLink]="'/' + availableRoutes.AllProducts"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active-route"
    >
      all-products
    </button>

    <button
      mat-menu-item
      [routerLink]="'/' + availableRoutes.Cart"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active-route"
    >
      Cart
    </button>
  </ng-template>
</mat-menu>

<ng-template #toSignUp>
  <button
    mat-icon-button
    [ngStyle.gt-xs]="{'margin-right.px': 20}"
    [routerLink]="'/' + availableRoutes.AuthLogin"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="active-route"
  >
    Login
  </button>

  <button
    mat-icon-button
    [ngStyle.gt-xs]="{'margin-right.px': 20}"
    [routerLink]="'/' + availableRoutes.AuthRegister"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="active-route"
  >
    Register
  </button>
</ng-template>
